body {
    font-family: 'Open Sans', sans-serif;
}

.section {
    height: 100vh;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.section-title {
    background: url("./img/bg-image-main-screen.jpg") no-repeat center top / cover;
    position: relative;
}

.section-title .container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

}

.nav-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.navigation-list {
    display: flex;
}

.navigation-list li {
    margin: 0 20px;
}

.header-links {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.hero {
    text-align: center;
    /*justify-self: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: Bebas Neue, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

.hero-title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.hero-subtitle {
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 28px;
}

.btn {
    padding: 18px 0 18px 0;
    min-width: 260px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #1A1917;
    border: none;
}


.section-newsletter {
    background: url("./img/bg-image-newsletter (1).jpg") no-repeat center center / cover;
}

.section-newsletter .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter-content {
    max-width: 650px;
    color: #ffffff;
}

.section-heading {
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
}

.section-heading__subtitle {
    font-size: 24px;
    margin-bottom: 7px;
}

.section-heading__title {
    font-size: 80px;
}

.section-newsletter .section-heading {
    margin-bottom: 73px;
}

.section-heading .newsletter-text {
    
}